@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
    --light-color: #D09fb1;
    --dark-color: #382238;
    --med-color: #7D4662;
    --med-dark-color: #5a2f42;
    --main-font: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    font-family: var(--main-font);
}

main {
    background: #f4f0f0;
}

.wrapper {
    background-color: var(--light-color);
    background-image: url(img/westpier.jpeg);
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    color: var(--light-color);
}

button {
    background-color: var(--med-dark-color);
    border: 1px solid var(--med-dark-color);
    border-radius: 3px;
    color: white;
    width: 100px;
    padding: 5px;
}

h3 {
    font-size: 1.4rem;
    padding: 1.4rem;
    display: inline-block;
    margin-left: 3rem;
    color: var(--med-dark-color);
}

h4 {
    padding: 10px;
    color: var(--dark-color);
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    padding: 10px;
    color: var(--dark-color);
}

/* HEADER SECTION */

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85px;
}

ul {
    display: flex;
    padding: 25px;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    flex: 3;
}

li a {
    color: var(--light-color);
    text-decoration: none;
    font-family: 'Rubik',sans-serif;
    margin-right: 3rem;
    padding-bottom: 10px;
    position: relative;
}

li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--light-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

li a:hover::before {
    transform-origin: bottom;
    transform: scaleX(1);
}

h1 {
    text-align: center;
    letter-spacing: 0.9rem;
    
}

h2 {
    text-align: center;
    margin-top: 28%;
    font-size: 3rem;
    letter-spacing: 0.7rem;
    /* filter:blur(0.5px); */
}

.header-h2 {
   margin: 200px 0 150px 0;
}

.logo {
    display: flex;
    flex: 2;
    margin-left: 1.9rem;
    margin-top: 0.5rem;
}

.logo img {
    width: 50px;
    height: 50px;
    margin: -5px 25px 0 0;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

    @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.bg {
    background-color: var(--med-dark-color);
}

#mob-btn {
    display: none;
}

/* PROJECTS SECTION */

.project-h3 {
    margin-top: 1rem;
    letter-spacing: 5px;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.project-card {
    margin: 1rem 1.3rem 3rem 1.3rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(125, 121, 121);
    padding: 1rem 0.8rem 1.4rem 0.4rem;
    width: 25%;
}

.project-card img {
    width: 90%;
    height: 170px;
    border-radius: 5px;
    margin-left: 1.2rem;
}

.project-card h3, 
.project-card p, 
.project-card a {
    margin-left: 0.2rem;
}

.project-card p,
.project-card a {
    padding: 0 1.3rem;
    margin-bottom: 1.2rem;
    color: var(--dark-color);
    font-family: 'Roboto Slab', serif;
}

/* ABOUT ME SECTION */

.selfie {
    width: 20%;
    float: right;
    padding: 1rem;
    border-radius: 50%;
}

.about_me {
    display: inline-block;
    height: 43vh;
    width: 100vw;
    background-color: var(--light-color);
    padding: 1.3rem 6rem 1rem 6rem;
}

.about-h3 {
    margin-left: -3.5rem;
    color: var(--dark-color);
    letter-spacing: 5px;
}

/* SKILLS SECTION */

progress[value] {
    height: 1.5rem;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--light-color);
    border-radius: 3px;
}

progress[value]::-webkit-progress-value {
    background: var(--med-dark-color);
    border-radius: 5px;
    background-size: 35px 20px;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.skills-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-around;
    text-align: center;
}

#skills {
    height: 50vh;
} 

.skill {
    box-shadow: 0 2px 7px rgb(109, 109, 109);
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid rgb(223, 220, 220);
    background-color: #f4f0f0;
}

.skill-txt {
    letter-spacing: 5px;
    margin-left: -2rem;
}

/* FOOTER & CONTACT SECTION */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 247px;
    margin: 0.5rem;
}

textarea {
    font-family: var(--main-font);
    margin: 0.5rem;
} 

.contact-imgs img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px;
}

.footer-p {
    font-size: 0.8rem;
    color: var(--light-color);
    padding-top: 1rem;
}

.contactme-h3 {
    color: var(--light-color);
    font-size: 1.6rem;
    margin: 0 auto;
}


#contact {
    text-align: center;
    height: 52vh;
    background-color: var(--dark-color);
}

.form {
    margin: 1%; 
}

#to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
}

/* MOBILE */

@media only screen and (max-width: 1020px) {
    
    nav ul {
        display: none;
    }

    h1 {
        font-size: 1rem;
        margin-top: 12px;
    }

    h2 {
        display: none;
    }

    .wrapper {
        background-color: #f4f0f0;
        background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url(img/westpier.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .cards {
        flex-wrap: wrap;
    }

    .project-card {
        width: 40%;
    }

    .about_me {
        height: 25vh;
    }

    #skills {
        height: 33vh;
    }

    .skill-txt {
        margin: 0.5rem;
    }

   
    #contact {
        height: 37vh;
    }

    #mob-btn {
        background-color: transparent;
        color: var(--light-color);
        border: none;
        display: block;
        padding: 1rem;
    }

    nav.responsive ul {
        background-color: white;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 80px;
    }

    nav.responsive ul li {
        display: block;
    }

    nav.responsive ul li a {
        color: var(--dark-color);
        display: block;
        width: 80%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 760px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .wrapper {
        background-color: #f4f0f0;
        margin: 0 auto;
        background-size: 100vh;
    }

    h1 {
        font-size: 0.8rem;
    }

    h2 {
        display: none;
    }

    .logo img {
        display: none;
    }

    .cards {
        flex-wrap: wrap;
    }

    .project-card {
        width: 90%;
    }

    .about_me {
        height: 110vh;
        padding: 4rem;
    }

    .selfie {
        width: 120px;
        height: 120px;
    }

    .skill {
        margin-bottom: 25px;
    }

    #skills {
        height: 130vh;
    }

    #contact {
        height: 60vh;
    }
}